<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <div class='Mars News'>
                <h1>
                    <strong>Latest Mars News</strong>
                </h1>
                <p class='title'>
                    <strong>{{mars_dict.news_title}}</strong>
                </p>
                <p class='paragraph'>
                    {{mars_dict.news_paragraph}}
                </p>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-8'>
            <div class='Mars Featured Image'>
                <h1>
                    <strong>Featured Mars Image</strong>
                </h1>
                <img src="{{mars_dict.mars_featured_image_url}}" alt="Mars featured image">
            </div>
        </div>   

        <div class="col-md-4">
            <h3>
                <strong>Mars Facts</strong>
            </h3>
            {{ mars_dict.html_mars_table|safe }}
        </div>
    </div>

    <div class="row">

        <div class="col-md-12" style="border:2px rgba(255,255,255,0.5) double;">
            <h3><strong></strong>Mars Hemispheres</strong></h3>
        </div>
        
        {% for item in mars_dict.hemisphere_image_urls %}

                <div class="col-md-3 Mars_Hemispheres" style="border:2px rgba(255,255,255,0.5) double;">

                    <image src={{ item.img_url }} width=50% class="Mars_Hemispheres_Image">
                    <h5 style="text-align: left">{{ item.title }}</h5>
                </div>

        {% endfor %}
    
    </div>

  </div>
</body>

</html>
